<.site_header
  current_user={@current_user}
  school={@school}
  school_announcement={@school_announcement}
/>
<main id="main" class="tw-py-10 tw-px-4 sm:tw-px-6 lg:tw-px-8">
  <div class="tw-mx-auto tw-max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
