<.header>
  Listing Course sign ups
</.header>

<.table
  id="course_sign_ups"
  rows={@streams.course_sign_ups}
  row_click={fn {_id, course_sign_up} -> JS.navigate(~p"/courses/sign-ups/#{course_sign_up}") end}
>
  <:col :let={{_id, course_sign_up}} label="Course"><%= course_sign_up.course.title %></:col>
  <:col :let={{_id, course_sign_up}} label="Name"><%= course_sign_up.name %></:col>
  <:col :let={{_id, course_sign_up}} label="Email"><%= course_sign_up.email %></:col>
  <:col :let={{_id, course_sign_up}} label="Discord username"><%= course_sign_up.discord_username %></:col>
  <:col :let={{_id, course_sign_up}} label="Payment option"><%= course_sign_up.payment_option %></:col>

  <:action :let={{_id, course_sign_up}}>
    <div class="sr-only">
      <.link navigate={~p"/courses/sign-ups/#{course_sign_up}"}>Show</.link>
    </div>
    <.link patch={~p"/course_sign_ups/#{course_sign_up}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, course_sign_up}}>
    <.link
      phx-click={JS.push("delete", value: %{id: course_sign_up.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="course_sign_up-modal" show on_cancel={JS.patch(~p"/course_sign_ups")}>
  <.live_component
    module={StudyGardenWeb.CourseSignUpLive.FormComponent}
    id={@course_sign_up.id || :new}
    title={@page_title}
    action={@live_action}
    course_sign_up={@course_sign_up}
    patch={~p"/course_sign_ups"}
  />
</.modal>
