<div
  :if={@live_action == :success}
>
  <.header><%= @course.title %> Sign Up Success!</.header>

  <p class="tw-leading-7">Please check for an invoice from Stripe in your email used to sign up for the course.</p>

  <p class="tw-mt-4 tw-leading-7">Remember to join the Mimbres Discord server to access course materials and recordings. If you registered for an account here through Discord, you should have received an email with a one-time invite link.</p>
</div>

<div
  :if={@live_action == :cancelled}
>
  <.header>Stripe Payment Cancelled</.header>

  <p>The checkout session was not completed.</p>

</div>
