:root {
  --border-radius-leaf-right: 0.75em 0 0.75em 0.75em;
  --border-radius-leaf-left: 0 1.5em 0 1.5em / 0 5em 0 5em;
}

body,
.phx-lv-wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

.sg-leaf {
  border-radius: var(--border-radius-leaf-right);
}
