<.header>
  Role <%= @role.id %>
  <:subtitle>This is a role record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/roles/#{@role}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit role</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @role.name %></:item>
</.list>

<.back navigate={~p"/roles"}>Back to roles</.back>

<.modal :if={@live_action == :edit} id="role-modal" show on_cancel={JS.patch(~p"/roles/#{@role}")}>
  <.live_component
    module={StudyGardenWeb.RoleLive.FormComponent}
    id={@role.id}
    title={@page_title}
    action={@live_action}
    role={@role}
    patch={~p"/roles/#{@role}"}
  />
</.modal>
